*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
#base,
.bd-navbar{
  background-color:rgb(226, 185, 48);
  justify-content: center;
  align-content: center;
}
#nav-dois{
  background-color: #bf900d;
}
.img-fluid{
  max-width: 65%;
  height: auto;
  min-width: 25%;
}
#nav li{
  width: 141px;
  height: 40px;
}
#nav li a{
  font-family: 'Permanent Marker', cursive;
  color: black;
  padding: 8px;
  text-align: center;
  
}
#nav li a:hover{
  font-family: 'Permanent Marker', cursive;
  padding: 8px;
  background-color: #967210;
}
#logo {
  float: left;
  padding: 3px; /*opcional*/
  text-align: center;
  width: auto;
  height: auto;
}
#botao{
  float: right;
  background-color: #bf900d;
}
#botao a{
  color:black ;
}
#botao:hover{
  background-color: #967210;
}
#Grifinoria{
  background-size: 100%;
  height: 100vh;
  background-image: url(../img/grifi.jpg);
  background-repeat: no-repeat;
}
#Grifinoria a{
  font-size: 18px;
  text-indent: 30px;
  text-align: left;
  margin-left: 40px;
  margin-top: 110px;
  color: #aa1d22;
  text-justify: inter-word;
  text-align: justify
}
.gr{
  color: #aa1d22;
}
.img-fluid{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#Sonserina{
  background-size: 100%;
  height: 100vh;
  background-image: url(../img/sons.jpg);
  background-repeat: no-repeat;
}
#Sonserina a{
  font-size: 18px;
  text-indent: 30px;
  text-align: left;
  margin-top: 110px;
  color:#269046;
  text-justify: inter-word;
  text-align: justify 
}
.son{
  color: #269046;
}
#Corvinal{
  width: 100%;
  height: 100vh;
  background-color:#078db3 ;
}
#Lufa-Lufa{
  width: 100%;
  height: 100vh;
  background-color:#dcb728;
}
#padrao{
  margin: 0 auto;
}
#texto{
  color: #aa1d22
}
/* PARTE RESPOSIVA*/
@media (max-width: 575.98px){
  #grif{
    size: 50px;
  }
}
