*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
    scroll-behavior: smooth;
  }
#base,
.bd-navbar{
  background-color:rgb(194, 158, 42);
  justify-content: center;
  align-content: center;
}
<<<<<<< HEAD
.navbar-nav{
=======
#nav-dois{
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
  background-color: #a37b0b;
}
#logo2{
  max-width: 65%;
  height: auto;
  min-width: 25%;
}
#nav li{
  width: 141px;
  height: 40px;
}
#nav li a{
  font-family: 'Permanent Marker', cursive;
  color: black;
  padding: 8px;
  text-align: center;
}
#nav li a:hover{
  font-family: 'Permanent Marker', cursive;
  padding: 8px;
  background-color: #967210;
}
#logo {
  float: left;
  padding: 3px;
  text-align: center;
  width: auto;
  height: auto;
  position: absolute;
}
#botao{
  position: relative;
  float: right;
  border: 1px solid #111;
  background-color: #bf900d;
}
#botao a{
  color:black ;
}
#botao:hover{
  background-color: #967210;
}
<<<<<<< HEAD
#padrao1{
  margin: 0 auto;
  padding: 180px 100px;
}

#texto{
  text-align: justify;
}
#Grifinoria{
  background-color: #090708;
  height: auto;
  min-height: 100vh;
=======
#Grifinoria{
  background-size: 100%;
  height: 100vh;
  background-image: url(../img/grifi.jpg);
  background-repeat: no-repeat;
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
}
#Grifinoria a{
  font-size: 20px;
  text-indent: 30px;
  text-align: left;
  margin-left: 40px;
<<<<<<< HEAD
  margin-top: 90px;
=======
  margin-top: 110px;
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
  color: #aa1d22;
  text-justify: inter-word;
  text-align: justify
}
.gr{
  color: #aa1d22;
}
.img-fluid{
  width: auto;
  height: auto;
}
#Sonserina{
<<<<<<< HEAD
  background-color: #090708;
  height: auto;
  min-height: 100vh;
=======
  background-size: 100%;
  height: 100vh;
  background-image: url(../img/sons.jpg);
  background-repeat: no-repeat;
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
}
#Sonserina a{
  font-size: 20px;
  text-indent: 30px;
  text-align: left;
  margin-top: 110px;
  color:#269046;
  text-justify: inter-word;
  text-align: justify 
}
.son{
<<<<<<< HEAD
  color:#269046;
}
.bg-img{
  background-image: url(img/ho.jpg);
  padding: 180px 0;
  background-size: cover !important;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-img h2{
  text-shadow: 2px solid;
  size: 60px;
  color:#bf900d;
}
#Corvinal{
  background-color: #090708;
  height: auto;
  min-height: 100vh;
=======
  color: #269046;
}
#Corvinal{
  background-size: 100%;
  height: 100vh;
  background-image: url(../img/corvi.jpg);
  background-repeat: no-repeat;
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
}
#Corvinal a{
  font-size: 20px;
  text-indent: 30px;
  text-align: left;
  margin-left: 40px;
  margin-top: 110px;
  color: #0693bf;
<<<<<<< HEAD
  text-justify:inter-word;
  text-align:justify
=======
  text-justify: inter-word;
  text-align: justify
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
}
.cor{
  color: #0693bf;
}
#Lufa-Lufa{
<<<<<<< HEAD
  background-color: #090708;
  height: auto;
  min-height: 100vh;
=======
  background-size: 100%;
  height: 100vh;
  background-image: url(../img/lufa.jpg);
  background-repeat: no-repeat;
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
}
#Lufa-Lufa a{
  font-size: 20px;
  text-indent: 30px;
  text-align: left;
  margin-top: 110px;
  color:#e1b524;
  text-justify: inter-word;
  text-align: justify 
}
.lufa{
  color: #e1b524;
}
#padrao{
  margin: 0 auto;
}
.famososGrif{
  font-size: 18px;
  color: #8f1a1e;
}
.famososSon{
  font-size: 18px;
  color: #1b6832;
}
.famososCor{
  font-size: 18px;
  color: #05566e;
}
.famososLufa{
  font-size: 18px;
  color: #a0811c;
}
<<<<<<< HEAD
@media (max-width: 504px){
  #padrao1{
    margin: 0 auto;
    padding: 100px 100px;
  }
}
@media (max-width: 1200px){
  #padrao1{
    margin: 0 auto;
    padding: 80px 80px;
=======
/* PARTE RESPOSIVA*/
@media (max-width: 575.98px){
  #grif{
    size: 50px;
>>>>>>> f07db0ff6d67d6eadec8c5592f4c0fc27994146b
  }
 
}

